<ion-header>
  <ion-toolbar>
      <ion-title>Music playlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="entete">
    <ion-icon name="chevron-back-outline" class="back-button"></ion-icon>
    <p>Music playlist</p>
    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
  </div>


  <ion-list class="list">
    @for (song of songs; track $index) {
      <div><img src={{song.cover}}></div>
      <div class="details">
        <span class="bold">{{song.title}}</span>
        <br>
        <span class="artist-name">{{song.artist}}</span>
      </div>
      <div><ion-icon name="ellipsis-vertical-outline" class="vertical"></ion-icon></div>
    }
    @empty {
      <p>Aucune chanson disponible</p>
    }
  </ion-list>
  
</ion-content>