/* Style général pour la page */
.page-content {
    padding: 20px;
  }
  
  /* Style pour la liste des artistes */
  .artist-list {
    list-style: none;
    padding: 0;
  }
  
  /* Style pour chaque artiste */
  .artist-item {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style pour le titre de l'artiste */
  .artist-name {
    font-size: 20px;
    font-weight: bold;
    color: #1db954;
    margin: 10px;
  }
  
  /* Style pour le nombre de chansons */
  .artist-songs {
    font-size: 14px;
    color: #666;
    margin: 0 10px 10px;
  }
  
  /* Style pour la liste de chansons de l'artiste */
  .song-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style pour chaque chanson */
  .song-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  /* Style pour le bouton de partage */
  .share-button,
  .like-button {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Style pour les icônes des boutons */
  .share-button ion-icon,
  .like-button ion-icon {
    font-size: 24px;
    color: #1db954;
    margin-right: 5px;
  }
  
  /* Style pour le bouton de partage */
  .share-button ion-icon {
    color: #007bff; /* Couleur bleue */
  }
  
  /* Style pour le bouton de like */
  .like-button ion-icon {
    color: #1db954; /* Couleur verte */
  }
  