ion-tab-button.tab-selected ion-icon {
    color: #15AB90; 
  }

  ion-tab-button.tab-selected ion-label {
    color: #15AB90; 
  }
  

  ion-tab-button:hover ion-icon {
    color: #15AB90; 
  }

  ion-tab-button:hover ion-label {
    color: #15AB90;
  }